#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=Deepin WINE Team
Categories=internet;
Icon=deepin.com.thunderspeed
Exec="/opt/deepinwine/apps/Deepin-ThunderSpeed/run.sh" %u
Name=Thunder Speed
Name[zh_CN]=迅雷极速版
Comment=Thunder Speed Client on Deepin Wine
StartupWMClass=Thunder.exe
