Package: deepin.com.foxmail
Version: 7.2deepin3
Architecture: i386
Maintainer: Deepin WINE Team
Installed-Size: 34235
Depends: deepin-wine (>= 1.9-11), deepin-wine32, deepin-wine32-preloader, deepin-wine-helper, deepin-wine-uninstaller
Section: non-free/otherosfs
Priority: optional
Multi-Arch: foreign
Description: Tencent Foxmail Client on Deepin Wine
