#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=Deepin WINE Team
Categories=chat;
Icon=deepin.com.qq.im.light
Exec="/opt/deepinwine/apps/Deepin-QQLight/run.sh" %u
Name=QQLite
Name[zh_CN]=QQ轻聊版
Comment=Tencent QQ Client on Deepin Wine
StartupWMClass=QQ.exe
