Package: deepin.com.thunderspeed
Version: 7.10.35.366deepin17
Architecture: i386
Maintainer: Deepin WINE Team
Installed-Size: 59899
Depends: deepin-wine (>= 1.9-11), deepin-wine32, deepin-wine32-preloader, deepin-wine-helper, deepin-wine-uninstaller
Section: non-free/otherosfs
Priority: optional
Multi-Arch: foreign
Description: Thunder Speed Client on Deepin Wine
